<div class="container-fluid">

  <div class="row align-items-center">
      <div class="col-lg-2">
          <h4></h4>
        </div>
    </div>

  <div class="row align-items-center">
    <div class="col-lg-2">
      <img class="img-custon-logo" src="../assets/ICONS/airbusLogo.png" />
    </div>
    <div class="col-lg-8">
      <h4>SCM Parameter Editor</h4>
    </div>

    <div class="col-lg-8">
      <h4></h4>
    </div>
  </div>

</div>

<div class="container-fluid">
  <div id='cssmenu'>
    <ul>

      <li routerLinkActive="active"><a [routerLink]="['/home']"> Home</a></li>

      <li class='active'><a href='#'>Prototype Phase</a>
        <ul>
          <li><a href='PInicialization.html'>Ini. Prototype Phase</a>

          <li><a href='#'>Item Based Tracking</a>

            <ul>
              <li><a href='PFreiK.html'>P-Frei. Kaufteiltracking</a></li>
            </ul>
          </li>
          <li><a href='PVSC.html'>Prototype Tracking</a>
          </li>
          <li><a href='ReportNew.html'>Reports Prot. Tracking</a></li>

        </ul>
      </li>
      <li class='active'><a href='#'>VFF Phase</a>
        <ul>
          <li><a href='building.html'>Item ini. VFF Phase</a></li>
          <li><a href='#'>Item Based Tracking</a>
            <ul>
              <li><a href='PVFF_Phase.html'>SNR Tracking</a></li>
            </ul>
          </li>
          <li><a href='building.html'>Quality Doc.</a></li>
          <li><a href='VBEMI.html'>BEMI Tracking</a></li>
          <li><a href='building.html'>VFF Vehicle Tracking</a></li>
          <li><a href='ReportNew.html'>Reports Prot. Tracking</a></li>
        </ul>
      </li>

      <li class='active'><a href='#'>Serie Phase</a>
        <ul>
          <li><a href='SSNR.html'>Item ini. Serie Phase</a></li>
          <li><a href='building.html'>Item Based Tracking</a></li>
          <li><a href='SEMU.html'>EMU Tracking</a></li>
          <li><a href='ReportNew.html'>Reports Prot. Tracking</a></li>
        </ul>


      </li>

      <li><a href='#'>Administrator</a>
        <ul>
          <li><a href='building.html'>Management</a></li>
          <li><a href='ReportManagerNew.html'>Report Managementt</a></li>
          <li><a href='building.html'>Settings</a></li>
          <li><a href='building.html'>Create new module</a></li>
          <li routerLinkActive="active"><a [routerLink]="['/about']">About</a></li>

          <li><a href='building.html'>Logoff</a></li>
        </ul>
      </li>

    </ul>

  </div>





</div>
<hr
style="height:2px; border:none; color:#0085ad; background-color:#0085ad; margin-top: 0px; margin-bottom: 0px;" />