<div class="container-fluid">

  <div class="row justify-content-between">
    <div class="col-4">
      <H3>SC Selection </H3>
    </div>
    <div class="col-4">
      <p class="text-sm-right"> Welcome: MARTINS, Ericsson{{user.name}} </p>
    </div>
  </div>

</div>

<div class="container-fluid">



  <!--<div class="p-2" style="border: 1px solid #6c757d;  margin-right: 70px; margin-left: 70px;">-->

  <div class="row justify-content-md-center">
    <div class="col-lg-2 col-md-3" style="margin-right: -30px;">
      <p class="text-sm-left"> </p>
    </div>
    <div class="col-lg-3 col-md-6">
      <h5>Information 1</h5>
    </div>
    <div class="col-lg-3 col-md-6">
      <h5>Information 2</h5>
    </div>
  </div>


  <div class="row justify-content-md-center">
    <div class="col-lg-2 col-md-3" style="margin-right: -30px;">
      <p class="text-sm-left"> Item management </p>
    </div>

    <div class="col-lg-3 col-md-4">
      <button type="button" class="btn btn-secondary" [routerLink]="['/fuselage']">
        <img class="img-custon" src="../assets/ICONS/report.png" />
        Fuselage + Doors
      </button>
    </div>
    <div class="col-lg-3 col-md-4">
      <button type="button" class="btn btn-secondary ">
        <img class="img-custon" src="../assets/ICONS/computer1.png" />
        Option 2
      </button>
    </div>
  </div>

  <div class="row justify-content-md-center">
    <div class="col-lg-2 col-md-3" style="margin-right: -30px;">
      <p class="text-sm-left"> Item management </p>
    </div>
    <div class="col-lg-3 col-md-4">
      <button type="button" class="btn btn-secondary">
        <img class="img-custon" src="../assets/ICONS/computer1.png" />
        Option 3
      </button>
    </div>
    <div class="col-lg-3 col-md-4">
      <button type="button" class="btn btn-secondary ">
        <img class="img-custon" src="../assets/ICONS/settings.png" />
        Option 4
      </button>
    </div>
  </div>


</div>